<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все посты</title>
</head>
<body>
    <h1>Все посты</h1>

    <p><a href="{% url 'post_create' %}">➕ Создать новый пост</a></p>

    <hr>

    {% for post in posts %}
      <div style="margin-bottom: 20px;">
        <p><strong>{{ post.author.username }}</strong> — {{ post.created_at|date:"Y-m-d H:i" }}</p>

        {% if post.image %}
          <img src="{{ post.image.url }}" width="300">
        {% endif %}

        <p>{{ post.caption }}</p>

        <p>
          <a href="{% url 'post_detail' post.pk %}">Подробнее</a> |
          <a href="{% url 'post_update' post.pk %}">Редактировать</a> |

        </p>
      </div>
    {% empty %}
      <p>Постов пока нет 👀</p>
    {% endfor %}
</body>
</html>
